<app-navegacion></app-navegacion>
<app-loading *ngIf="Cargando"></app-loading>
<div *ngIf="!Cargando" class="row animated fadeIn" class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{Producto.Imagen}}" width="100%" id="ProductImg">
        </div>
        <div class="col-2">
            <p>{{Producto.Etiqueta}}</p>
            <h1>{{Producto.Nombre}}</h1>
            <h4>{{Producto.Precio}}</h4>
            <p>Stock: {{Producto.Stock}} artículos</p>
            <input type="number" value="1">
            <a href="" class="btnCarrito">Agregar al Carrito</a>
            <a routerLink="/Login" *ngIf="!Sesion" class="btniWishList">Añadir a la lista de deseos</a>
            <div *ngIf="Sesion">
                <button (click)="AgregarListaDeseos()" *ngIf="!Deseo" id="btnAdd" class="btniWishList">Añadir a la lista de deseos</button>
                <button (click)="EliminarListaDeseos()" *ngIf="Deseo" id="btnDel" class="btniWishList" style="background-color: rgb(115, 0, 0) !important;">Eliminar de Lista de deseos</button>
            </div>
            <h3> Detalles </h3>
            <br>
            <p>{{Producto.Descripcion}}</p>
        </div>
    </div>
</div>