<app-navegacion></app-navegacion>
<!DOCTYPE html>
<html lang="es">


<body>

    <main>
        <section id="banner">
            <img src="https://thumbs.dreamstime.com/z/one-piece-japanese-anime-television-series-adapted-manga-same-name-eiichiro-oda-mugiwara-store-one-piece-store-171020047.jpg">
            <div class="contenedor">
                <h2>Estamos contigo</h2>
                <p>¡Ahora con Subarashi JP puedes hacer tus compras a domicilio! Pide lo que necesites. Encuentra todos los productos que desees comprar.</p>
            </div>
        </section>
        <section id="Welcome">
            <h2>Anuncio importante</h2>
            <p>
                Ofertas nuevas todos los días con más de 60% de descuento ¡Mira las ofertas acá! Tu compra 100% segura. Compra tus productos online.
            </p>
        </section>


        <section id="blog">
            <div class="contenedor">
                <article>
                    <img src="https://cf.shopee.com.mx/file/09a516b21da85470150bbc786a9f91b2">
                    <h6>Productos de calidad</h6>

                </article>
                <article>
                    <img src="https://www.cultture.com/pics/2021/07/10-productos-de-moda-de-la-vida-real-inspirados-en-el-anime-0.webp">
                    <h6>Importados dedes Japón</h6>

                </article>
                <article>
                    <img src="https://images.unsplash.com/photo-1621478374422-35206faeddfb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8b25lJTIwcGllY2UlMjBhbmltZXxlbnwwfHwwfHw%3D&w=1000&q=80">
                    <h6>Compras más, pagas menos</h6>

                </article>
                <p style="padding: 10px 50px 20px;">
                    Compra todo lo que necesites en Subarashi Jp. Recibe tu pedido en la puerta de tu casa. Llévate más de tus productos favoritos con los descuentos Online. Compra aquí. Delivery Express. Recoge en tienda. Delivery programado.
                </p>
                <img style="width: 70px; height: 70px;" src="https://cdn-icons-png.flaticon.com/512/1199/1199002.png">
            </div>
        </section>

        <section id="info" style="margin: 40px 0 0 0;">
            <h3>Conoce más sobre Subarashi JP</h3>
            <div class="contenedor">
                <div class="info-pet">
                    <img src="https://png.pngtree.com/element_our/20200701/ourlarge/pngtree-cartoon-highway-positioning-route-map-vector-elements-image_2278707.jpg">
                    <h5>Ubicaciones</h5>
                </div>
                <div class="info-pet">
                    <img src="https://media.istockphoto.com/vectors/speech-bubble-with-question-mark-vector-illustration-vector-id1302846377?b=1&k=20&m=1302846377&s=170667a&w=0&h=na2yLbeuu6qf0kSMCZnWI0vw2CZ78nxkuYTkHk0WUio=">
                    <h5>Preguntas frecuentes</h5>
                </div>
                <div class="info-pet">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGWi-IstXlubRB4F2INtfUd_CY8XAluBw76g&usqp=CAU">
                    <h5>Contáctanos</h5>
                </div>
                <div class="info-pet">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZscBDLUxmi6RROvLZBvXJq3nqwBpEVKBALA&usqp=CAU">
                    <h5>Términos y condiciones</h5>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="DivFooter" style="margin-top: 15px;">
            <p class="copy">Subarashi JP &copy;2022</p>
        </div>
    </footer>
</body>

</html>