<app-navegacion></app-navegacion>
<!-- Cards de productos -->
<div class="Productos">
    <div *ngFor="let Prod of _servicio.InfoProd" class="card" style="width: 18rem;">
        <img src="{{Prod.Imagen}}">
        <h4>{{Prod.Nombre}}</h4>
        <h5>Precio: {{Prod.Precio}}</h5>
        <h6><i class="fa-solid fa-heart" style="margin: 0 0 15px 0;"></i> {{Prod.texto}}</h6>
        <button routerLink="/Detalle" type="button" class="btn btn-warning" style="margin: 0 0 20px 0;">Detalles</button>
        <i class="fa-solid fa-cart-plus"></i>
    </div>
</div>