.Productos {
    width: 100%;
    max-width: 1200px;
    /* 430px, 2000px */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.Productos .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 28px;
    text-align: center;
    transition: all 0.25s;
}

.Productos .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.Productos .card img {
    width: 330px;
    height: 220px;
}

.Productos .card h4 {
    font-weight: 600;
}

.Productos .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.Productos .card a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(29, 26, 26);
}

li.nav-item.active {
    color: black;
}