<header>
    <ul class="nav nav-tabs" style="background: #495057;">

        <li class="nav-item">
            <a routerLink="/Home" [routerLinkActive]="'active'" class="nav-link blanco">
                <i class="fa-solid fa-house-user"></i> Home
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/Catalogo" [routerLinkActive]="'active '" class="nav-link blanco">
                <i class="fa-solid fa-hand-holding-heart"></i> Catalogo
            </a>
        </li>


        <li class="nav-item">
            <a routerLink="/Detalle" [routerLinkActive]="'active '" class="nav-link blanco">
                <i class="fa-solid fa-hand-holding-heart"></i> Lista de Deseos
            </a>
        </li>


        <li class="nav-item">
            <a routerLink="/Login" [routerLinkActive]="'active '" class="nav-link blanco">
                <i class="fa-solid fa-hand-holding-heart"></i> Login
            </a>
        </li>

    </ul>
</header>