* {
    margin: 0;
    /*sin margen*/
    padding: 0;
    /*sin margen*/
    font-family: sans-serif;
    /*Tipo de fuente*/
    box-sizing: border-box;
}

body
/*Color de fondo*/

{
    background: url(https://thumbs.dreamstime.com/z/tienda-mugiwara-de-una-sola-pieza-en-shibuya-tokio-jap%C3%B3n-serie-anime-televisi%C3%B3n-japonesa-adaptada-del-manga-mismo-nombre-por-171020047.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
}

#DivLogin {
    background-color: rgba(0, 1, 1, 0.9);
    color: white;
    padding-top: 50px;
}

#DivLogin input {
    margin-top: 5px;
}

#DivLogin button {
    padding: 5px;
    width: 150px;
    margin-bottom: 35px;
}